body {  
  padding-top: 70px;
}

/** Structure */
#header1 {
	padding: 20px;
	background: gold;
	color: #fff;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 4px solid #624a40;
}

#content1 {
	background: #fff;
	padding: 20px;
}

#footer1 {
	background: gold;
	color: #fff;
	padding: 20px;
	border-top: 4px solid #624a40;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* Links */
#header1 a {
	color: #fff;
	background: #03bc48;
	padding: 4px 15px;
	text-decoration: none;
	font-size: 15px;
	font-weight: bolder;
}

#header1 a:hover {
	background: #1b6402;
}

/** Forms */
form {
	font: 100% verdana,arial,sans-serif;
}

form label {
    display: block;
    float: left;
    width: 150px;
    padding: 0;
    margin: 9px 10px 0;
    text-align: right;
}

#login label {
    margin: 5px 0 0;
}

#loginBox {
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	box-shadow: 10px 10px 5px #888;
	border: 1px solid black;
	width: 235px;
	padding: 10px;
    height: 200px;
}

#loginBox label, #loginBox input:not([type='submit']) {
	text-align: left;
}

form input, form select {
	width: auto;
	margin-top: 5px;
	border: 1px solid gray;
	padding: 4px;
}

#login input {
    width: 100%;
}

form input[type=submit]:hover {
	cursor: pointer;
	background: silver;
}

form br {clear: left;}

.red {
    color: #DD0000;
}

/* timeout warner begin */
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable {
	background-color: #fff;
	text-align: center;
	padding: 10px;
	border-radius: 8px;
	border: 1px solid #4c3000;
}
.ui-dialog-buttonset button[type='button'] {
	background-color: white;
	border: 2px solid #4CAF50; /* Green */
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	transition-duration: 0.4s;
	border-radius: 4px;
}

.ui-dialog-buttonset button[type='button']:hover {
	background-color: #4CAF50;
	color: white;
}

.ui-dialog-buttonset button[type='button']:nth-child(2) {
	border: 2px solid #f44336;
	margin-left: 6px;
	transition-duration: 0.4s;
}

.ui-dialog-buttonset button[type='button']:nth-child(2):hover {
	background-color: #f44336;
	color: white;
}

#idletimer_warning_dialog #countdownDisplay {
	font-weight: bolder;
	color: #b92c28;
	font-size: 20px;
}

#ui-id-1 {
	font-size: 20px;
	font-weight: bolder;
}
/* timeout warner end */